:root {
    --dark-shades: #080603;
    --dark-accent: #EC4803;
    --main-brand: #F87309;
    --light-accent: #FD9531;
    --light-shades: #F8F4EC;
}

* {
    margin: 0;
    padding: 0;
}

body {
	min-height: 100vh;
	min-width: 100%;
	 background: #FDC830;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F37335, #FDC830,#a83d08);  
	background: linear-gradient(to right, #F37335, #FDC830,#ff6214); 
	animation: gradient 10s ease infinite;
	background-size: 400% 400%;  
}

header {
    width: 100%;
    height: 22vh;
    display: inline-flex;
    margin-bottom: 30px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 30px;
}

h1 {
    font-weight: 900;
    margin-top: 50px;
    margin-left: 255px;
    font-size: 70px;
    letter-spacing: 0.3rem;
    color: #ffffff;
    text-shadow: 4px 4px #5c5c5c4d;
}

h1,
footer p {
    color: white;
    font-family: 'Eagle Lake', cursive;
}

#calendar-container {
    margin: 10px auto;
}

footer p {
    text-shadow: 1px 1px #000000;
    color: white;
    text-align: center;
}

#calendar-header {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.2rem;
}

i {
    color: var(--dark-accent);
}

td {
    position: relative;
    top: 0;
    right: 0;
    height: 100px;
}

.input,
#saveBtn {
    outline: none;
    border: none;
    background: transparent;
}

.input {
    margin-left: 6px;
}

#saveBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    margin-right: 8px;
    padding: 7px;
}