:root {
    --dark-shades: #080603;
    --dark-accent: #EC4803;
    --main-brand: #F37335;
    --light-accent: #FDC830;
    --light-shades: #F8F4EC;
    --gradient: linear-gradient(to right, var(--main-brand), var(--light-accent), var(--dark-accent));
}

body {
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    background: var(--gradient);
}

header {
    height: 28vh;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    text-shadow: 6px 8px var(--main-brand);
    letter-spacing: 0.4rem;
}

h1,
h2,
.custom,
footer p {
    color: var(--light-shades);
}

h1,
.custom,
#calendar-header,
h3,
#week-day,
aside p,
.current-weather,
footer p {
    font-family: 'Eagle Lake', cursive;
}

h2 {
    position: absolute;
    top: 1;
    right: 95px;
    margin: 10px 0px 50px 1290px;
    font-size: 28px;
    font-weight: lighter;
    text-shadow: 8px 8px 7px var(--dark-shades);
    color: var(--light-shades);
}

.icon {
    margin-left: 5px;
}

#calendar {
    margin: 10px;
    flex: 0 0 80%;
    box-shadow: 0 8px 12px 8px var(--dark-accent);
}

aside {
    flex: 0 0 18%;
    margin: 17px 0 15px 0;
    text-align: center;
    box-shadow: 0 8px 12px 8px var(--dark-accent);
}

.p-events {
    color: var(--light-accent);
    font-weight: 900;
}

h3 {
    color: var(--dark-accent);
}

.custom {
    font-size: 16px;
}

.custom:hover,
.custom:focus {
    color: var(--light-accent);
    text-shadow: 3px 3px 2px var(--dark-shades);
}

li {
    list-style: none;
}

#calendar-header,
aside p {
    margin-top: 10px;
    color: var(--main-brand);
}

#calendar-header,
footer p {
    text-align: center;
    letter-spacing: 0.2rem;
}

td {
    position: relative;
    top: 0;
    right: 0;
    height: 110px;
    max-width: 110px;
}

td p {
    color: var(--dark-accent);
}

.textarea {
    margin: 2px 6px 6px 6px;
    padding: 10px;
    font-weight: 700;
    color: var(--dark-accent);
}

.textarea,
#save-button {
    outline: none;
    border: none;
    resize: none;
    background: transparent;
}

#save-button {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    padding: 5px;
}

.current-weather {
    text-align: center;
    height: 34vh;
    background-color: white;
    padding-top: 10px;
    margin: 10px 5px;
    border-radius: 160px;
    border-color: rgb(160, 95, 4);
    border-width: 5px;
    box-shadow: 0px 4px #00000050;
    color: var(--dark-shades);
}

#description {
    text-shadow: 1px 1px var(--dark-accent);
    font-weight: 700;
}

.pweather {
    color: var(--dark-shades);
}

.weatherspan {
    color: var(--dark-accent);
}

.time-widget,
.login-widget {
    display: none;
    background-color: var(--main-brand);
    width: 450px;
    box-shadow: 10px 10px #00000040;
    padding: 100px;
}

.time-form,
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-floating {
    width: 400px;
    margin: 5px 0;
}

#submit,
#submit2 {
    width: 400px;
    background-color: white;
    margin-top: 50px;
    outline: none;
    border: none;
    padding: 10px;
}

#back,
#back2 {
    outline: none;
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 400px;
    background-color: white;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    color: var(--light-shades);
}

.btn::before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #ffb300, #de6006, #FDC830, #F37335, #EC4803, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: var(--dark-accent);
}

.btn:active::after {
    background: transparent;
}

.btn:hover::before {
    opacity: 1;
}

.btn::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--gradient);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

footer {
    margin-top: 50px;
}

footer p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px var(--main-brand);
}