:root {
    --dark-shades: #080603;
    --dark-accent: #EC4803;
    --main-brand: #F37335;
    --light-accent: #FDC830;
    --light-shades: #F8F4EC;
    --gradient: linear-gradient(to right, var(--main-brand), var(--light-accent), var(--dark-accent));
}

body {
    background: #FDC830;
    /* fallback for old browsers */
    background: var(--gradient);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

header {
    display: inline-flex;
}

img {
    margin: 10px 0 2px 20px;
    width: 230px;
    height: 230px;
}

h1 {
    margin-top: 140px;
    font-size: 70px;
    font-weight: 900;
    text-shadow: 6px 8px var(--main-brand);
    letter-spacing: 0.4rem;
}

h1,
#calendar-header,
#week-day,
footer p {
    font-family: 'Eagle Lake', cursive;
}

h1,
footer p {
    color: var(--light-shades);
}

#calendar {
    margin: 10px;
    box-shadow: 0 8px 14px 8px var(--dark-accent);
}

#calendar-header {
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.2rem;
    color: var(--dark-accent);
}

td {
    position: relative;
    top: 0;
    right: 0;
    height: 110px;
    max-width: 110px;
}

td p {
    color: var(--dark-accent);
}

.input {
    margin: 2px 6px 6px 6px;
    padding: 10px;
}

.input,
#save-button {
    outline: none;
    border: none;
    background: transparent;
}

#save-button  {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    padding: 5px;
}

footer {
    margin-top: 50px;
}

footer p {
    text-shadow: 1px 1px #000000;
    text-align: center;
    color: white;
}
.time-form {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
}